<div class="container">
    <div class="gap-padding-x">
        <div class="header">
            <h1 class="title" i18n>Contact Us</h1>
        </div>
        <div class="mx-auto form">
            <h2>Contact Us</h2>
            <p class="mb-6">Contacting us means reaching the group of people behind PreTM. You can contact us at <a
                    href="mailto:thepreptm@gmail.com">thepreptm&#64;gmail.com</a></p>

            <p class="form-title" i18n>Leave a Message</p>
            <div class="form-body" [formGroup]="form">
                <div class="control">
                    <p i18n>Message Type*</p>
                    <preptm-select size="large" formControlName="type" i18n-placeholder
                        placeholder="Select a option and change input text above"
                        [options]="feedbackTypeDdl"></preptm-select>
                </div>
                <div class="control">
                    <p i18n>Your Message*</p>
                    <textarea formControlName="message" i18n-placeholder placeholder="Leave your message here..."
                        rows="4"
                        class="form-textarea"
                        [class.is-error]="form.get('message')?.touched && form.get('message')?.hasError('required')"></textarea>
                </div>

                <div class="text-end">
                    <button class="btn-primary" [disabled]="isLoading" (click)="submit()">
                        <preptm-loader *ngIf="isLoading"></preptm-loader>
                        <span i18n> Send Message</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>