<div class="page-header">

  <nz-breadcrumb class="breadcrumb">
    <nz-breadcrumb-item [routerLink]="['/']" class="cursor-pointer">
      <span class="material-symbols-outlined breadcrumb-home ms-outline">home</span>
    </nz-breadcrumb-item>
    <ng-container *ngFor="let item of breadcrumb; let isLast = last">
      <nz-breadcrumb-item
        [ngClass]="{'cursor-pointer': !isLast, 'breadcrumb-current': isLast}"
        [routerLink]="isLast ? [] : [item.path]">
        {{ item.name }}
      </nz-breadcrumb-item>
    </ng-container>
  </nz-breadcrumb>

  <div class="page-header-actions">
    <app-button *ngIf="addButtonUrl && permissions.add"
                [routerLink]="[addButtonUrl]" type="add">
    </app-button>
    <ng-content></ng-content>
  </div>

</div>
