<div class="author section gap-padding-all">
    <h2 class="label">Author</h2>
    <img src="assets/img/writter.jpg"  [attr.loading]="'lazy'" alt="" width="20%" height="20%">
    <div>

        <p class="name my-2 lg:my-4">Suresh Kachchhawah</p>
        <p class="about text-muted">He specializes in providing concise updates on job vacancies, admit cards, results, and related topics. With meticulous research and a commitment to accuracy, they curate comprehensive listings across various sectors. Their clear and accessible content empowers readers to navigate career and educational pursuits confidently.</p>
    </div>


</div>