<div class="gap-margin-x h-full">
  <div [class]="className +' list-wrapper h-full relative'">
    <p class="title">{{heading}}</p>
    <div [loading]="showLoader" [ngClass]="{mb35:posts?.length && $any(posts).length>=6}">
      <ul class="posts">
        <li class="post-item " *ngFor="let post of posts">
          <a target="_blank" [routerLink]="['/',post.blockTypeSlug,post.slugUrl]">
            <span class="short-line-height">{{post.title}}</span>
            <span *ngIf="post && post.reminingFewDays" class="remaining-days">
              <span class="counter">{{post.reminingFewDays}}</span>
              <span>&nbsp;Day <span *ngIf="post.reminingFewDays>1">'s</span> Left</span>
            </span>
            <img *ngIf="post.isNew && !post.reminingFewDays" src='assets/img/new-gif.gif' class="new-img inline ml-2"
              alt="New post" [attr.loading]="'lazy'" >
          </a>

        </li>
      </ul>
      <a [routerLink]="viewMoreUrl" target="_blank" *ngIf="posts?.length && $any(posts).length>=6"
        class="more cursor-pointer">
        <span i18n> More...</span>
      </a>
    </div>
  </div>
</div>