/* Custom styles for animation */

.gap-margin-x {
  margin: 15;
}

.title-view {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #ddeffc;
  // box-shadow: 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
  border: 1px solid #69baf1;
  // border-radius: 8px;
  border-left: 8px solid #3181df;
  h2 {
    font-size: 18;
  }

  button:hover{
    background-color:  #286bcd
  }
}

.title-view:hover {
  border-left: 8px solid #286bcd;
}
@media (min-width: 1024px) {
  .gap-margin-x {
    margin: 0;
  }
}
