/RequirementMicroService/obj
/RequirementMicroService/bin
/ModelService/obj
/ModelService/bin
/MasterServiceMicroService/bin
/MasterServiceMicroService/obj
/AllDropDownMicroService/bin
/AllDropDownMicroService/obj
/5GStudyGateway/obj
/5GStudyGateway/bin

*.suo
*.user
_ReSharper.*
bin
obj
packages
/.vs
/.vs/5GStudyApi/v17/*.suo
*.pubxml
/.vs/5GStudyApi/DesignTimeBuild/.dtbcache.v2
