@import 'src/assets/css/variables.scss';

.my-pagination {
  text-align: center;
  margin: 20px 0 20px;
  display: flex;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


      a, .current {
        transition: all 300ms ease;
        color: #696969;
        width: 27px;
        height: 27px;
        line-height: 28px;
        padding: 0;
        margin: 5px;
        &:hover {
          background: $primary-color;
          color: #ffffff;
        }

        position: relative;
        display: block;
        color: #696969;
        border-radius: 50%;
        transition: all 300ms ease;
      }
    

  .current {
    background-color: $primary-color !important;
    color: #ffffff;
    border-radius: 50%;

  }
}

.additional-page-content {
  line-height: 30px;

  p {
    margin-bottom: 10px;
  }
}


iframe {
  margin: 0 auto !important;
}

.table {
  width: 100%;

  table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

