// $primary-color:#2874f0;
// $primary-color:#182a48;
$primary-color: #087B82;
$primary-color-light: #def2f3;
// $primary-color:#0a9d89;
$on-primary-color: #F1D217;
$secondary-color: #6C757D;
$table-head: #f4f4f4;
$table-row-hover: #f9f9f9;
$outline: #f4f4f4;
$outline-hover: #0a9d89;
$text-color: #333;
// $background-color: #0a9d8910;
$background-color: #0a9d8908;
// $background-color: #f1f3f6;
// $background-color: #ffffff;
$container: #ffffff;
$border-color: #d8d8d8;
$instagram-bg-color: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$twitter-bg-color: #000;
$telegram-bg-color: #229ED9;
$whatsapp-bg-color: #128C7E;
$facebook-bg-color: #3b5998;
$whatsapp-bg-color: #25d366;


$post-list-1: #3d1616;
$post-list-2: #0d4715;
$post-list-3: #181c1f;
$post-list-4: #4d3b00;


$header-background-color: $primary-color;
$footer-background-color: #212121;