<div class="custom-slider">

  <a routerLink="/jobs" class="slide-item">
    <div class="menu-image">
      <img style="height:24px;width:24px" src="assets/img/job.svg" alt="Recruitment Menu" [attr.loading]="'lazy'" />
    </div>
    <label i18n>Jobs</label>
  </a>
  <a routerLink="/admit-cards" class="slide-item">
    <div class="menu-image">
      <img style="height:20px;width:22.5px" src="assets/img/admit-card.svg" alt="Admit Card Menu"
        [attr.loading]="'lazy'" />
    </div>
    <label i18n>Admit Cards</label>
  </a>
  <a routerLink="/schemes" class="slide-item">
    <div class="menu-image">
      <img style="height:24px;width:24px" alt="Scheme Menu" src="assets/img/scheme.svg" [attr.loading]="'lazy'" />
    </div>
    <label i18n>Schemes</label>
  </a>
  <a routerLink="/syllabus" class="slide-item">
    <div class="menu-image">
      <img style="height:24px;width:24px" alt="Syllabus Menu" src="assets/img/syllabus.svg" [attr.loading]="'lazy'" />
    </div>
    <label i18n>Syllabus</label>
  </a>
  <a routerLink="/results" class="slide-item">
    <div class="menu-image">
      <img style="height:24px;width:24px" alt="Result Menu" src="assets/img/result.svg" [attr.loading]="'lazy'" />
    </div>
    <label i18n>Results</label>
  </a>
  <!-- <a routerLink="/papers" class="slide-item">
    <div class="menu-image">
      <img src="assets/img/paper.png" />
    </div>
    <label i18n>Papers</label>
  </a> -->
  <a routerLink="/exams" class="slide-item">
    <div class="menu-image">
      <img style="height:24px;width:24px" alt="Exam Menu" style="height:24px;width:24px" src="assets/img/exam.svg"
        [attr.loading]="'lazy'" />
    </div>
    <label i18n>Exams</label>
  </a>
  <a routerLink="/admissions" class="slide-item">
    <div class="menu-image">
      <img style="height:24px;width:24px" alt="Admission Menu" src="assets/img/admission.svg" [attr.loading]="'lazy'" />
    </div>
    <label i18n>Admissions</label>
  </a>

</div>