.about-container {
    h2 {
        font-size: 12px;
    }



    h3 {
        font-size: 12px;
    }

    strong {
        font-size: 12px;
    }



    p {
        font-size: 12px;
        text-align: justify;
    }
}