<!-- Submit -->
<button (click)="click()" *ngIf="type==='submit' && show"
        nz-button nzType="primary" [nzLoading]="isLoading" class="app-btn app-btn--primary">
  <span class="material-symbols-outlined btn-icon">send</span>
  Submit
</button>

<!-- Reset -->
<button (click)="click()" *ngIf="type==='reset' && show"
        nz-button nzType="default" [nzLoading]="isLoading" class="app-btn app-btn--default">
  <span class="material-symbols-outlined btn-icon">restart_alt</span>
  Reset
</button>

<!-- Back -->
<button (click)="onBack()" *ngIf="type==='back' && show"
        nz-button nzType="default" [nzLoading]="isLoading" class="app-btn app-btn--default">
  <span class="material-symbols-outlined btn-icon">arrow_back</span>
  Back
</button>

<!-- Edit -->
<button (click)="click()" *ngIf="type==='edit' && show"
        nz-button nzType="primary" [nzLoading]="isLoading" class="app-btn app-btn--primary">
  <span class="material-symbols-outlined btn-icon">edit</span>
  Edit
</button>

<!-- Add -->
<button (click)="click()" *ngIf="type==='add' && show"
        nz-button nzType="primary" [nzLoading]="isLoading" class="app-btn app-btn--primary">
  <span class="material-symbols-outlined btn-icon">add</span>
  Add New
</button>
