<div class="header-inner">

  <!-- Left: sidebar controls -->
  <div class="header-left">
    <!-- Hamburger toggle: collapse ↔ expand sidebar -->
    <button class="sidebar-toggle" (click)="toggleSidebar()"
            [attr.aria-label]="isCollapsed ? 'Expand sidebar' : 'Collapse sidebar'">
      <span class="material-symbols-outlined ms-outline">menu</span>
    </button>

    <!-- Fullscreen toggle: hide sidebar entirely for more content space -->
    <button class="sidebar-toggle" (click)="toggleFullscreen()"
            [attr.aria-label]="isFullscreen ? 'Show sidebar' : 'Hide sidebar'">
      <span nz-icon [nzType]="isFullscreen ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"></span>
    </button>
  </div>

  <!-- Right-side actions -->
  <div class="header-actions">
    <div class="user-info">
      <span class="user-name">{{ userDetails.name }}</span>
      <span class="user-role">{{ userDetails.userTypeName }}</span>
    </div>

    <nz-avatar [nzSize]="36" nzIcon="user" class="user-avatar"
               nz-popover nzPopoverTitle="Account"
               [nzPopoverContent]="accountMenu"
               nzPopoverPlacement="bottomRight">
    </nz-avatar>

    <ng-template #accountMenu>
      <div class="account-popover">

        <div class="popover-row">
          <span class="popover-label">Translate</span>
          <nz-switch [(ngModel)]="enableTranslate" [nzControl]="true"
                     (click)="onTranslateChange()"></nz-switch>
        </div>

        <button nz-button nzType="text" nzDanger (click)="logout()" nzBlock class="logout-btn">
          <span class="material-symbols-outlined">logout</span>
          Sign out
        </button>

        <ng-container *ngIf="!env.production">
          <nz-divider nzText="Dev Docs" nzOrientation="left"></nz-divider>
          <div class="dev-links">
            <a href="http://204.12.245.106:7233/swagger/index.html" target="_blank">Transaction</a>
            <a href="http://204.12.245.106:7256/swagger/index.html" target="_blank">Master</a>
            <a href="http://204.12.245.106:7294/swagger/index.html" target="_blank">DDL</a>
            <a href="http://204.12.245.106:7080/swagger/index.html" target="_blank">UI</a>
          </div>
        </ng-container>

      </div>
    </ng-template>
  </div>

</div>
