<div class="cursor-pointer text-lg text-white/50 flex h-full items-center justify-between">
    <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="toggleSidebar()"></span>
    <div class="flex gap-4 items-center">

        <p class="m-0">{{userDetails.name}} ({{userDetails.userTypeName}})
        </p>

        <nz-avatar [nzSize]="40" nzIcon="user" nz-popover nzPopoverTitle="Profile" [nzPopoverContent]="menu"
            nzPopoverPlacement="bottomRight"></nz-avatar>
        <ng-template #menu>
            <div class="flex justify-between my-3">
                <span>Translate</span>
                <nz-switch [(ngModel)]="enableTranslate" [nzControl]="true" (click)="onTranslateChange()"></nz-switch>
            </div>
            <button nz-button nzType="text" (click)="logout()" nzBlock>
                <span nz-icon nzType="logout" nzTheme="outline"></span>Logout
            </button>

            <ng-container *ngIf="!env.production">
                <div>
                    <a href="http://204.12.245.106:7233/swagger/index.html" target="_blank">Transaction doc</a>
                </div>
                <div>
                    <a href="http://204.12.245.106:7256/swagger/index.html" target="_blank">Master doc</a>
                </div>
                <div>
                    <a href="http://204.12.245.106:7294/swagger/index.html" target="_blank">DDL doc</a>
                </div>
                <div>
                    <a href="http://204.12.245.106:7080/swagger/index.html" target="_blank">UI doc</a>
                </div>

            </ng-container>

        </ng-template>
    </div>
</div>