<app-page-header [breadcrumb]="breadcrumb" *ngIf="!dialogMode">
    <nz-space>
        <app-button *nzSpaceItem type="back"></app-button>
        <!-- <app-button *nzSpaceItem [show]="form.disabled" (onClick)="onEdit()" type="edit"></app-button> -->
    </nz-space>
</app-page-header>


<app-form [addUpdateFn$]="masterService.addUpdateGroupMaster" [form]="form" [initialData]="group"
    [formElements]="formElements" navigationUrlOnSuccess="/master/tags" [dialogMode]="dialogMode" (dialogClosed)="close($event)"></app-form>