<preptm-breadcrumb class="post-list-breadcrumb gap-margin-x block lg:hidden" [breadcrumb]="breadcrumb"></preptm-breadcrumb>

<div class="post-list-wrapper lg:grid gap-4 gap-margin-x " [ngClass]="{'lg:grid-cols-4': showFilter}">
    <!-- filter section -->
    <div class="filter" *ngIf="showFilter">
        <div class="flex justify-between filter-title gap-padding-all">
            <div i18n>Filters</div>
            <button
                *ngIf="filter.departmentId || filter.jobDesignationId || filter.qualificationId || filter.title || filter.eligibilityId || filter.categoryId"
                (click)="clearAll()">
                <span i18n>Clear</span>
            </button>
        </div>
        <div class="filter-item-container gap-padding-y">
            <h4 class="mb-2" i18n>Department</h4>

            <preptm-select [(ngModel)]="filter.departmentId" (ngModelChange)="filterList()" size="large" [showSearch]="true"
                [allowClear]="!!filter.departmentId" i18n-placeholder placeholder="Department"
                [options]="ddls?.ddlDepartment || []"></preptm-select>

            <ng-container *ngIf="type != postType.SCHEME">
                <h4 class="mb-2" i18n>Categorise</h4>
                <preptm-select [(ngModel)]="filter.categoryId" (ngModelChange)="filterList()" size="large" [showSearch]="true"
                    [allowClear]="!!filter.categoryId" i18n-placeholder placeholder="Categorise" [disabled]="!!categorySlug"
                    [options]="ddls?.ddlCategory || []"></preptm-select>
            </ng-container>
            <ng-container [ngSwitch]="type">

                <ng-container *ngSwitchCase="postType.RECRUITMENT">

                    <h4 class="mb-2" i18n>Qualification</h4>
                    <preptm-select [(ngModel)]="filter.qualificationId" (ngModelChange)="filterList()" size="large"
                        [showSearch]="true" [allowClear]="!!filter.qualificationId" i18n-placeholder
                        placeholder="Qualification" [options]="ddls?.ddlQualification || []"></preptm-select>

                    <h4 class="mb-2" i18n>Designation</h4>
                    <preptm-select [(ngModel)]="filter.jobDesignationId" (ngModelChange)="filterList()" size="large"
                        [showSearch]="true" [allowClear]="!!filter.jobDesignationId" i18n-placeholder
                        placeholder="Designation" [options]="ddls?.ddlJobDesignation || []"></preptm-select>
                </ng-container>

                <ng-container *ngSwitchCase="postType.SCHEME">
                    <h4 class="mb-2" i18n>Eligibility</h4>
                    <preptm-select [(ngModel)]="filter.eligibilityId" (ngModelChange)="filterList()" size="large"
                        [showSearch]="true" [allowClear]="!!filter.eligibilityId" i18n-placeholder
                        placeholder="Eligibility"
                        [options]="ddlLookup?.[ddlLookupEnum.SchemeEligibility] || []"></preptm-select>
                </ng-container>

            </ng-container>

            <button
                *ngIf="filter.departmentId || filter.jobDesignationId || filter.qualificationId || filter.title || filter.eligibilityId || filter.categoryId"
                class="clear lg:hidden" (click)="clearAll()" i18n>Clear</button>

        </div>
    </div>

    <!-- post section -->
    <div class="list col-span-3" [loading]="loading">
        <preptm-breadcrumb class="hidden lg:block" [breadcrumb]="breadcrumb"></preptm-breadcrumb>

        <h3 *ngIf="search.trim()" class="mb-4">
            <span i18n> Search Results for </span>
            : "<strong>{{search}}</strong>"
        </h3>

        <div class="mx-3 lg:mx-0 mt-4" itemscope itemtype="https://schema.org/ItemList">
            <link itemprop="url" [attr.href]="this.document.location.href">
            <meta itemprop="numberOfItems" [content]="list.length || 0" />
            <meta itemprop="name" [content]="search || this.curModuleText" />

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <preptm-post [index]="i" [post]="postItem"
                    *ngFor="let postItem of list  | paginate: pagination;let i=index"></preptm-post>
            </div>
        </div>

        <preptm-no-data *ngIf="!list.length && !loading"></preptm-no-data>

        <!-- pagination -->
        <!-- <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)" [maxSize]="6"
            [directionLinks]="false" [autoHide]="true" previousLabel="Back"></pagination-controls> -->

        <preptm-pagination [maxSize]="6" [directionLinks]="false" [autoHide]="true"
            previousLabel="Back"></preptm-pagination>

    </div>


</div>