@import 'src/assets/css/variables.scss';
.post {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    border: 2px solid $outline;
    display: flex;
    cursor: pointer;

    

    .misc {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        color: gray;

        .date {
            background-color: #dbfee154;
            font-size: 11px;

            span {
                font-size: 11px;
            }
        }

        .seats {
            background-color: #ececec66
        }

        .type {
            background-color: #fbcece57;
            font-size: 11px;
        }

        &:hover {
            cursor: pointer;

            a {
                color: #000;
            }

            .remaining-days {
                background-color: #ae0b09;

                .counter {
                    background-color: #ae0b09;
                }
            }

            .new-img {
                width: 35px;
                height: 21px;
            }
        }
    }

    .remaining-days {
        position: relative;
        padding-left: 13px;
        margin-left: 16px;
        border: 2px solid;

        display: inline-block;
        color: white;
        background-color: #e40f0c;
        padding: 5px;
        border-radius: 20px;
        line-height: 8px;
        padding-right: 8px;
        padding-left: 13px;

        * {
            font-size: 13px;
        }

        .counter {
            display: inline-block;
            padding: 8px;
            background-color: #e40f0c;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            border: 2px solid #fff;
            font-weight: bolder;
        }
    }

    &:hover {
        border: 2px solid $outline-hover;
    }

    // .remaining-days {
    //     background-color: #aa0a0a;

    //     .counter {
    //         background-color: #aa0a0a;
    //     }
    // }
}



.post:hover {
    box-shadow: 0 0 5px #00000040;
}

.chip {
    padding: 2px 10px;
    border-radius: 10px;
    color: black;
    margin-right: 6px;
    margin-top: 5px;
    font-weight: 400;

    span {
        font-weight: 400;
    }

}

h2.post-title {
    font-size: 15px;
}

// lg
@media (min-width:1024px) {
    h2.post-title {
        font-size: 15px;
    }

}