<ng-container *ngFor="let menu of menus">

  <!-- Expandable group -->
  <li *ngIf="menu.hashChild" nz-submenu [nzTitle]="subGroupTitle">
    <ng-template #subGroupTitle>
      <span class="material-symbols-outlined menu-icon">{{menu.icon || 'folder'}}</span>
      <span class="menu-label">{{menu.menuName}}</span>
    </ng-template>
    <ul>
      <li *ngFor="let page of menu.pages" nz-menu-item
          [routerLink]="page.pageUrl"
          routerLinkActive="ant-menu-item-selected"
          [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined menu-icon">{{page.icon || 'article'}}</span>
        <span class="menu-label">{{page.name}}</span>
      </li>
      <app-menu *ngIf="menu.childParentMenuList?.length" [menus]="menu.childParentMenuList"></app-menu>
    </ul>
  </li>

  <!-- Flat item -->
  <li *ngIf="!menu.hashChild && menu.pages.length" nz-menu-item
      [routerLink]="menu.pages[0].pageUrl"
      routerLinkActive="ant-menu-item-selected"
      [routerLinkActiveOptions]="{exact: true}">
    <span class="material-symbols-outlined menu-icon">{{menu.icon || 'article'}}</span>
    <span class="menu-label">{{menu.menuName}}</span>
  </li>

</ng-container>