<!-- share button -->
<div class="share-wrapper" *ngIf="content">
    <button *ngIf="showShareButtons" class="share copy" title="Copy" (click)="copy();close()">
        <div class="share-button">
            <img src="assets/img/copy.svg" alt="copy" [attr.loading]="'lazy'" />
        </div>
    </button>
    <a [href]="socialMediaShareLink.telegram" target="_blank" (click)="close()" *ngIf="showShareButtons"
        class="share telegram" title="telegram">
        <div class="share-button">
            <img src="assets/img/telegram.svg" alt="telegram" [attr.loading]="'lazy'" />
        </div>
    </a>
    <a [href]="socialMediaShareLink.twitter" target="_blank" (click)="close()" *ngIf="showShareButtons"
        class="share twitter" title="X">
        <div class="share-button">
            <img src="assets/img/twitter.svg" alt="telegram" [attr.loading]="'lazy'" />
        </div>
    </a>
    <a [href]="socialMediaShareLink.facebook" target="_blank" (click)="close()" *ngIf="showShareButtons"
        class="share facebook" title="Facebook">
        <div class="share-button">
            <img src="assets/img/facebook-icon.svg" alt="telegram" [attr.loading]="'lazy'" />
        </div>
    </a>
    <a [href]="socialMediaShareLink.whatsapp" target="_blank" (click)="close()" *ngIf="showShareButtons"
        class="share whatsapp" title="Whatsapp">
        <div class="share-button">
            <img src="assets/img/whatsApp-icon.svg" alt="telegram" [attr.loading]="'lazy'" />
        </div>
    </a>
    <button class="share-btn" [title]="!showShareButtons?'Share Article':'Close'" (click)="toggle()">
        <div class="share-button">
            <img *ngIf="!showShareButtons" src="assets/img/share-nodes.svg" alt="share" [attr.loading]="'lazy'" />
            <img *ngIf="showShareButtons" src="assets/img/cross.svg" alt="close-share" [attr.loading]="'lazy'" />
        </div>
    </button>
</div>
<div class="share-lbl">
    <p i18n>Share</p>
</div>