<nz-collapse style="margin-bottom: 8px;">
  <nz-collapse-panel [nzHeader]="label" [nzActive]="false" [nzDisabled]="false"
    [ngClass]="{'bg-red-200':this.formField?.errors && this.formField?.touched}">
    <div class="flex justify-between">
      <app-error-messages *ngIf="isFormControl" [formField]="formField" [label]="label"></app-error-messages>
      <button nz-button (click)="onAdd()" nzType="primary" class="my-4 p-2 btn">
        <span nz-icon nzType="plus" nzTheme="outline" class="align-text-top"></span>
        Add
      </button>
    </div>

    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="isEditMode?'Edit ':'Add '+label" (nzOnCancel)="onFormClosed()"
      (nzOnOk)="onFormSubmit()" [nzMaskClosable]="false" [nzFooter]="modalFooter" [nzWidth]="'80vw'">
      <ng-container *nzModalContent>
        <app-form #formComponent [inlineForm]="true" [form]="childForm" [addUpdateFn$]="saveForm" [initialData]="null" [formElements]="childFormElements">
        </app-form>
      </ng-container>

      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="onFormClosed()" [disabled]="isLoading">Cancel</button>
        <button nz-button nzType="primary" (click)="onFormSubmit()" [nzLoading]="isLoading">Save</button>
      </ng-template>

    </nz-modal>

    <nz-table #table nzShowSizeChanger [nzData]="value" [nzShowPagination]="false" [nzLoading]="false"
      *ngIf="value?.length" [nzHideOnSinglePage]="false" [nzScroll]="{ y: '520px' }" [nzTableLayout]="'auto'">
      <thead>
        <tr>
          <th nzRight nzWidth="40px" nzLeft>Action</th>
          <th nzLeft nzWidth="20px" nzLeft>SN</th>
          <th nzLeft nzWidth="40px" *ngFor="let item of childFormElements">{{item.label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table.nzData;let i=index">
          <td nzLeft>
            <!-- delete -->
            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this record?" nzPopconfirmPlacement="top"
              (nzOnConfirm)="onDelete(i)">
              <button nz-button [nzLoading]="false" #deleteBtn nzShape="circle" nzDanger class="mx-1" nz-popconfirm
                [nzIcon]="iconTpl">
                <span nz-icon nzType="delete" *ngIf="!deleteBtn.nzLoading" nzTheme="twotone"
                  [nzTwotoneColor]="'#f00'"></span>
              </button>
            </a>
            <!-- edit -->
            <button nz-button (click)="onEdit(i)" nzShape="circle" class="mx-1">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <ng-template #iconTpl>
              <span nz-icon nzType="question-circle-o" style="color: red;"></span>
            </ng-template>
          </td>
          <td nzLeft>{{i+1}}</td>
          <td *ngFor="let dt of childFormElements;let colIndex = index">
            <span *ngIf="dt.type!='file'"> {{item[dt.controlName]}}</span>
            <span *ngIf="dt.type=='file'">
              <a [href]="item[dt.controlName] | absPath" target="_blank">
                <span nz-icon nzType="link" nzTheme="outline"></span>
              </a>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </nz-collapse-panel>
</nz-collapse>