.err{
    color: red;
    font-size: 12px;
  }
  
  .err-list{
    position: relative;
      top: -13px;
  }
  
  .txt-box{
    min-height: 47px;
    padding: 0px 16px;
    border-radius: 6px !important;
  }